@page "/Promotions"
@using BusinessLogic
@using DepoQuick.Domain
@inject MemoryDataBase MemoryDataBase
@inject NavigationManager NavigationManager

<html lang="es">
  <head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  </head>

    <body>

        <h3>¡Hola, @_user.GetName()! Aquí puedes encontrar nuestras promociones actuales.</h3>

    <table class="table">
        <thead>
        <tr>
            <th>Promoción</th>
            <th>Desde</th>
            <th>Hasta</th>
            <th>Descuento</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Promotion promotion in _listOfPromotions)
        {
            <tr>
                <td>@promotion.GetLabel()</td>
                <td>@promotion.GetValidityDate().GetInitialDate().ToString("dd/MM/yyyy")</td>
                <td>@promotion.GetValidityDate().GetFinalDate().ToString("dd/MM/yyyy")</td>
                <td>@(promotion.GetDiscountRate()*100)%</td>
                @if (_user.IsAdministrator())
                    {
                        <td>
                            <button class="btn btn-danger" @onclick="(() => DeletePromotion(promotion))">Eliminar</button>
                        </td>
                    }
            </tr>
        }
        </tbody>
    </table>
    @if (_user.IsAdministrator())
{
    <button class="btn btn-primary" @onclick="NavigateToAddPromotion">Crear promoción</button>
}
    </body>
</html>




@code {
    private Controller _controller;
    private List<Promotion> _listOfPromotions;
    private User _user;


    protected override void OnInitialized()
    {
        _controller = new Controller(MemoryDataBase);

        _user = MemoryDataBase.GetActiveUser();

        _listOfPromotions = (List<Promotion>)MemoryDataBase.GetPromotions();
        _listOfPromotions.RemoveAll(promotion => promotion.GetValidityDate().GetFinalDate() < DateTime.Now);
    }



    private void NavigateToAddPromotion()
    {
        NavigationManager.NavigateTo("/AddPromotion");
    }

    private void DeletePromotion(Promotion promotion)
    {
        int id = promotion.GetId();
        _controller.DeletePromotion(id);
    }

}