@page "/Promotions"
@using BusinessLogic
@using DepoQuick.Domain
@inject MemoryDataBase MemoryDataBase
@inject NavigationManager NavigationManager

<html lang="es">
    <head>  
        <meta charset="utf-8"/> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    </head>

    <body>
        <h3>¡Hola, @_loggedInUser.GetName()! Aquí puedes encontrar nuestras promociones actuales.</h3>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Promoción</th>
            <th>Desde</th>
            <th>Hasta</th>
            <th>Descuento</th>
            <th>Depósitos a los que aplica</th>
        </tr>
        </thead>
        
        <tbody>
        @foreach (Promotion promotion in _listOfPromotions)
        {
            <tr>
                <td>@promotion.GetLabel()</td>
                <td>@promotion.GetValidityDate().GetInitialDate().ToString("dd/MM/yyyy")</td>
                <td>@promotion.GetValidityDate().GetFinalDate().ToString("dd/MM/yyyy")</td>
                <td>@(promotion.GetDiscountRate()*PercentageMultiplier)%</td>
                <td>
                    @foreach (var deposit in promotion.GetDeposits())
                    {
                        <p>@deposit.GetId() - Area @deposit.GetArea()</p>
                    }
                </td>
                @if (_loggedInUser.IsAdministrator())
                {
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-danger" @onclick="(() => DeletePromotion(promotion))">Eliminar
                                <i class="fa fa-trash"></i>
                            </button>
                            <button class="btn btn-info" @onclick="(() => GoToEditPromotionPage(promotion))">Editar 
                                <i class="fa fa-pencil"></i>
                            </button>
                        </div>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
    
    @if (_loggedInUser.IsAdministrator())
    {
        <button class="btn btn-primary" @onclick="GoToAddPromotionPage">Crear promoción</button>
    }
    </body>
</html>

@code {
    private const double PercentageMultiplier = 100.0;
    private Controller _controller;
    private List<Promotion> _listOfPromotions;
    private User _loggedInUser;
    
    protected override void OnInitialized()
    {
        _controller = new Controller(MemoryDataBase);
        _loggedInUser = _controller.GetActiveUser();
        
        _controller.DeleteAllExpiredPromotions();
        _listOfPromotions = _controller.GetPromotions();
    }
    
    private void GoToAddPromotionPage()
    {
        NavigationManager.NavigateTo("/AddPromotion");
    }

    private void DeletePromotion(Promotion promotion)
    {
        int id = promotion.GetId();
        _controller.DeletePromotion(id);
    }

    private void GoToEditPromotionPage(Promotion promotion)
    {
        int promotionId = promotion.GetId();
        NavigationManager.NavigateTo($"/EditPromotion/{promotionId}");
    }
}