@page "/GestionOfReservsClient"
@using BusinessLogic
@using DepoQuick.Domain
@inject Session Session
@inject NavigationManager NavigationManager
@inject DepoQuickContext DepoQuickContext

<html lang="es">
  <head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  </head>

    <body>

        <h3>¡Hola, @_client.Name! Aquí puedes revisar tus reservaciones.</h3>

        <table class="table">
                <thead>
                    <tr>
                        <th>Depósito</th>
                        <th>Desde</th>
                        <th>Hasta</th>
                        <th>Estado</th>
                        <th>Comentario</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Reservation reservation in _listOfReservations)
                    {
                        <tr>
                            @{
                                int depositId = DepoQuickContext.Entry(reservation).Property<int>("DepositId").CurrentValue;
                            }
                            <td>Depósito @depositId</td>
                            <td>@reservation.Date.GetInitialDate().ToString("dd/MM/yyyy")</td>
                            <td>@reservation.Date.GetFinalDate().ToString("dd/MM/yyyy")</td>
                            @if (reservation.Status == 0)
                            {
                                <td>
                                    <button class="btn btn-secondary btn-sm">En espera</button>
                                </td>
                                <td>-</td>
                            }
                            else if (reservation.Status == 1)
                            {
                                <td>
                                    <button class="btn btn-success btn-sm">Aprobada</button>
                                </td>
                                <td>-</td>
                            } else {
                                {
                                    <td>
                                        <button class="btn btn-danger btn-sm">Rechazada</button>
                                    </td>
                                    <td>@reservation.Message</td>
                                }
                            }
                            @if (ReservationIsOver(reservation))
                            {
                               // if (reservation.Rating == null)
                                {
                                    <td>
                                        <div class="btn-group">
                                            <button class="btn btn-primary btn-sm" @onclick="(() => GoToAddRatingPage(reservation))">Añadir valoración
                                                <i class="fa fa-star"></i>
                                            </button>
                                        </div>
                                    </td>
                                }
                               // else
                                {
                                    <td>
                                        <div class="btn-group">
                                            <button class="btn btn-primary btn-sm" @onclick="(() => GoToEditRatingPage(reservation))">Editar valoración
                                                <i class="fa fa-star"></i>
                                            </button>
                                        </div>
                                    </td>
                                }
                                
                            }
                            
                        </tr>
                    }
                </tbody>
            </table>
    </body>
</html>




@code {
    private List<Reservation> _listOfReservations;
    private Client _client; 
    
    ReservationController _reservationController;
    
    protected override void OnInitialized()
    {
        _reservationController = new ReservationController(DepoQuickContext, Session);
        
        _client = (Client)Session.ActiveUser;
        
        _listOfReservations = _reservationController.GetReservationsById(_client.Id);

        //_listOfReservations = _client.Reservations; No funciona porque las tablas son diferentes a las clases (fijarse en dbaver)
    }
    
    private bool ReservationIsOver(Reservation reservation)
    {
        return reservation.Status == 1 && reservation.Date.GetFinalDate() < DateTime.Now;
    }
    
    private void GoToAddRatingPage(Reservation reservation)
    {
        int reservationId = reservation.Id;
        NavigationManager.NavigateTo($"../RateReservation/{reservationId}");
    }
    
    private void GoToEditRatingPage(Reservation reservation)
    {
        int reservationId = reservation.Id;
        NavigationManager.NavigateTo($"../EditRating/{reservationId}");
    }
}