@page "/Ratings"
@using BusinessLogic
@using DepoQuick.Domain
@inject MemoryDataBase MemoryDataBase

<html lang="es">
    <head>  
        <meta charset="utf-8"/> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    </head>

    <body>
        <h3>¡Hola, @_loggedInUser.Name! Aquí puedes encontrar todas las valoraciones.</h3>
    
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Depósito</th>
            <th>Reserva</th>
            <th>Cliente</th>
            <th>Estrellas</th>
            <th>Comentario</th>
        </tr>
        </thead>
        
        <tbody>
        @foreach (Reservation reservation in _listOfReservations)
        {
            if (reservation.Rating != null)
            {
                <tr>
                    <td>@reservation.Deposit.Id</td>
                    <td>@reservation.Id</td>
                    <td>@reservation.Client.Name</td>
                    <td>@reservation.Rating.GetStars()</td>
                    <td>@reservation.Rating.GetComment()</td>
                </tr>
            }
            
            
        }
        </tbody>
    </table>
    </body>
</html>

@code {
    private Controller _controller;
    private List<Reservation> _listOfReservations;
    private User _loggedInUser;
    
    protected override void OnInitialized()
    {
        _controller = new Controller(MemoryDataBase);
        _loggedInUser = _controller.GetActiveUser();
        
        _listOfReservations = _controller.GetReservations();
    }
}