@page "/Ratings"

@using BusinessLogic.Controllers
@using DepoQuick.Domain

@inject SessionController SessionController
@inject RatingController RatingController

<html lang="es">
    <head>  
        <meta charset="utf-8"/> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    </head>

    <body>
        <h3>¡Hola, @_loggedInUser.Name! Aquí puedes encontrar todas las valoraciones.</h3>
    
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Depósito</th>
            <th>Reserva</th>
            <th>Cliente</th>
            <th>Estrellas</th>
            <th>Comentario</th>
        </tr>
        </thead>
        
        <tbody>
        @foreach (Rating rating in _listOfRatings)
        {
            <tr>
                @if (rating.Reservation.Deposit != null)
                {
                    <td>@rating.Reservation.Deposit.Name (@rating.Reservation.Deposit.Id)</td>
                }
                else
                {
                    <td>Depósito eliminado</td>
                }
                <td>@rating.Reservation.Id</td>
                <td>@rating.Reservation.Client.Name</td>
                <td>@rating.Stars</td>
                <td>@rating.Comment</td>
            </tr>
        }
        </tbody>
    </table>
    </body>
</html>

@code {
    private User _loggedInUser;
    private List<Rating> _listOfRatings;
    
    protected override void OnInitialized()
    {
        _loggedInUser = SessionController.ActiveUser;
        _listOfRatings = RatingController.GetRatings();
    }
}